/*健康记录*/
#wwwzzjsnet_zzjs_1 {
	position: absolute;
	width: auto;
	height: auto;
	margin-right: 20px;
}

#wwwzzjsnet_zzjs_1 img {
	width: 40px;
	height: 40px;
	float: left;
	border-radius: 20px;
}

#wwwzzjsnet_zzjs_1 a {
	margin-left: 11px;
	margin-top: 3px;
	font-size: 10px;
}

#wwwzzjsnet_zzjs_1 p {
	text-indent: 1em;
	line-height: 15px;
	font-size: 10px;
}

/*闂佹眹鍊曟晶钘夘潖閸撗傛勃闁哄洨濮版禒娑㈡煕閺嶅灚瀚�*/
.illness {
	margin-left: 75px;
	width: auto;
	height: 60px;
	background-color: #EEEEEE;
}

.neirong {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	line-height: 25px;
	margin-left: 75px;
}

.txt {
	width: auto;
	margin-left: 75px;
	border: none;
	/*闂佸憡锚椤嘲鈻嶆惔銏╂付婵☆垱顑欓崥鍥级閸綆娼愭い顫嫹*/
	background-color: #E0E0E0;
	position: r;
	resize: none;
	outline: none;
}

#sub {
	margin-top: 8%;
	width: 78px;
	height: 28px;
	float: right;
	border-radius: 4px;
	border-left: 0px;
	/*闂佸憡蓱濡叉帞绮╅悢濂夋禆闁跨噦鎷�*/
	border-top: 0px;
	border-right: 0px;
	border-bottom: 0px;
	background-color: #6fc8e6;
}

#disease {
	width: 48px;
	height: 28px;
	margin: 16px 0px 16px 8px;
	position: absolute;
	border-radius: 12px;
	border: 1px solid chartreuse;
}

#disease p {
	line-height: 6px;
	color: chartreuse;
}

#se {
	width: 48px;
	height: 28px;
	margin: 16px 0px 16px 65px;
	position: absolute;
	border-radius: 12px;
	border: 1px solid red;
}

#se p {
	line-height: 5px;
	color: red;
}

.huifu p {
	margin-left: 62px;
}
/* 閻€劍鍩涢幐鍌氬娇 */

.reply {
	width: 445px;
	height: 160px;
	display: none;
	background-color: #C1C1C1;
}

.con {
	margin-top: 5px;
	margin-left: 7px;
	resize: none;
	width: 430px;
}

.tijiaoreply {
	width: 50px;
	height: 25px;
	border-radius: 4px;
	border: 1px solid #C0C0C0;
	margin-top: 3px;
	float: right;
	margin-right: 8px;
}
/* 健康用药提醒 */
.index_tab {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #e0e0e0;
	margin: 8px 0;
}

.index_tab td {
	line-height: 30px;
	border: 1px solid #e0e0e0;
	padding-left: 40px;
}

tr.tr_top td {
	line-height: 30px;
	border: none;
	background-color: #6fc8e6;
	color: #fff;
	font-weight: bold;
}

td.td_center {
	text-align: center;
}
.add {
            
	position: absolute;
}

.btn {
	border-radius: 4px;
	width: 90px;
	height: 21px;
	outline: none;
	text-align: right;
	background-color: #ffffff;
	border: 1px solid #CCCCCC;
}
.addimg {
	width: 12px;
	height: 12px;
	margin-left: 10px;
	position: absolute;
	top: 6px;
}
.renm {
	display: none;
	width: 80px;
	height: 24px;
	margin-left: 150px;
}

.text_time {
	width: 207px;
	height: 20px;
	background: #ffffff;
	border: 1px solid #BBBBBB;
}
/*用药提醒*/
#remind {
	width: 450px;
	height: 600px;
	margin: 300px;
	margin-top: 70px;
	background-color: #E0E0E0;
	position: relative;
	display: none;
}

.sum {
	margin-top: 10px;
	pandding-left: 25px;
	position: absolute;
}

.sumstyle {
	height: 26px;
	border-radius: 4px;
	text-align: center;
	width: 62px;
}

.sumstyle1 {
	width: 50px;
	height: 26px;
	text-align: center;
	border-radius: 4px;
}

.sum_divstyle {
	margin-left: 20px;
	margin-top: 20px;
	position: relative;
}

.yongyaotitle {
	position: absolute;
	top: 0;
	left: 0;
}

textarea {
	resize: none;
}

#remind .yongyaotext {
	width: 320px;
	height: 72px;
	margin-left: 65px;
	display: inline-block;
}

.sumtijiao {
	margin-left: 100px;
	margin-top: 20px;
}

.sumbaocun {
	width: 80px;
	height: 30px;
	background-color: #92bd4c;
	border-radius: 4px;
}

.sumquxiao {
	width: 80px;
	height: 30px;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #e0e0e0;
	margin-left: 20px;
}

/* 鎮ｈ�呭綍鍏� */
.guahaotitle {
	position: absolute;
	top: 20px;
	left: 0;
}

.guahao {
	width: 280px;
	height: 300px;
	display: none;
	border-radius: 10px;
	position: absolute;
	margin-left: 300px;
	margin-top: 120px;
	background-color: #E6F0FE;
}

.guahaotijiao {
	margin-top: 20px;
	margin-left: 60%;
}

.guahaoquxiao {
	margin-top: 20px;
	margin-left: 40%;
	position: absolute;
}

.guahaotext {
	width: 150px;
	height: 24px;
	margin-left: 80px;
	display: inline-block;
}